@import "https://fonts.googleapis.com/css?family=Lato&display=swap";
@import "https://fonts.googleapis.com/css?family=Cantarell:400,700&display=swap";
body {
  width: 100%; }

.content {
  padding: 0;
  width: 100%; }

h1 {
  font-family: 'Cantarell', helvetica, sans-serif;
  font-weight: 700;
  font-size: 2em; }

h2 {
  font-family: 'Cantarell', helvetica, sans-serif;
  font-weight: 700; }

h3 {
  font-family: 'Cantarell', helvetica, sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: center;
  position: relative; }

p {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em; }

main {
  background-color: #f0efef;
  margin-top: 11em;
  padding: 0; }

.secondary {
  background-color: #f0efef;
  padding: 0; }

a {
  color: #59b5b5; }
  a:hover {
    text-decoration: none;
    color: black; }

.heading {
  margin-top: 1em; }
  .heading a {
    text-decoration: none;
    color: black; }
  .heading h1 {
    margin-bottom: 0;
    font-size: 1.3em; }
  .heading p {
    text-align: center;
    font-size: 1em; }

section {
  background-color: #f0efef;
  padding: 0;
  width: 100%;
  z-index: 1; }

article {
  background-color: #f0efef;
  padding: 0;
  width: 100%; }

aside {
  background-color: #f0efef;
  padding: 0;
  width: 100%; }

.contact-footer {
  width: 100%;
  text-align: center;
  margin: 2em 0 1em 0; }

.social {
  width: 100%;
  text-align: center;
  margin: 2em 0; }

.logo {
  width: 2em; }

.main-head {
  width: 100%;
  text-align: center;
  margin: 1em 0 .5em 0; }

.second-head {
  width: 100%;
  text-align: center;
  margin: 1.5em 0 0.5em 0; }

.underline {
  height: 3px;
  width: 50px;
  background-color: #59b5b5;
  margin: 0 auto;
  margin-bottom: 1.5em; }

.main {
  padding: 0; }

.topbar {
  width: 100%; }

.nav-item {
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  padding: 0; }

button.navbar-toggler {
  border: none; }

.navbar-nav {
  text-align: center;
  width: 100%; }

nav {
  background-color: #f0efef !important;
  margin-bottom: 4em; }

.meet-blurb {
  width: 100%;
  text-align: center;
  margin: 1em 0; }
  .meet-blurb p {
    margin-bottom: .3em; }

.intro {
  font-size: 1.3em;
  text-align: center;
  margin: 1em 0;
  width: 100%; }

.fun-fact {
  width: 100%;
  text-align: center;
  margin: 3em 0; }

.summary {
  margin: 2em;
  width: 86%;
  margin-left: 7%;
  text-align: center; }

form {
  margin: 2em 0; }

.btn-primary {
  background-color: #59b5b5 !important;
  border-color: #59b5b5 !important; }

button.btn {
  margin-left: 40%; }

.no-padding {
  padding: 0; }

.other-angles {
  padding: 2.5px; }

.description {
  margin: 2em;
  width: 86%;
  margin-left: 7%; }

ul {
  list-style: none; }

.previous-next {
  text-align: center;
  width: 100%;
  margin: 2.5em 0 2em 0;
  background-color: #f0efef;
  padding: 0; }
  .previous-next a {
    margin: 0 .5em; }

ul.details {
  text-align: left; }

h5 {
  font-family: 'Cantarell', helvetica, sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: right;
  font-size: 1.3em; }

.stats {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1em; }

td.stats {
  padding-bottom: 1em; }

table {
  width: 100%;
  margin-bottom: 2em; }

.section-title {
  padding-right: 3em; }

tr.space-above {
  padding-top: 1em; }

.work-hover {
  position: relative; }

.middle {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto; }

.text {
  background-color: #59b5b5;
  color: white;
  font-size: 13px;
  padding: 16px 13px;
  font-family: 'Cantarell', helvetica, sans-serif;
  text-align: center;
  border-radius: 50%; }

video {
  width: 100%; }

#particles-js {
  position: fixed;
  height: 100%;
  z-index: -10; }

@media screen and (min-width: 576px) {
  .logo {
    width: 3em; }

  .heading h1 {
    margin-bottom: 0;
    font-size: 2em; }
  .heading p {
    text-align: center;
    font-size: 1em; }

  .middle {
    position: absolute;
    top: 40%;
    left: 15%;
    text-align: center;
    width: 70%; }

  .text {
    background-color: #59b5b5;
    color: white;
    font-size: 16px;
    padding: 16px 13px;
    font-family: 'Cantarell', helvetica, sans-serif;
    text-align: center;
    border-radius: 50%; }

  .topbar {
    width: 100%; }

  .nav-item {
    border-bottom: 1px solid #bdbdbd;
    width: 100%;
    padding: 0; }

  button.navbar-toggler {
    border: none; }

  .navbar-nav {
    text-align: center;
    width: 100%; }

  nav {
    background-color: #f0efef !important;
    margin-bottom: 4em; } }
@media screen and (min-width: 768px) {
  .logo {
    width: 4em;
    margin: 1.5em 0; }

  .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em; }

  .social a {
    height: 2em; }

  .decription {
    width: 70%;
    margin-left: 15%; }

  .summary {
    width: 70%;
    margin-left: 15%; }

  .main {
    margin-top: 15em;
    padding: 0; }

  .main2 {
    margin-top: 0 !important;
    padding: 0; }

  button.btn {
    margin-left: 45%; } }
@media screen and (min-width: 992px) {
  .navbar-brand {
    display: block;
    width: 100%; }

  .navbar-nav {
    display: block;
    float: left;
    width: 11em; }

  .sidebar {
    height: 100%;
    width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; }
    .sidebar a img {
      position: fixed;
      top: 1em;
      width: 8em;
      margin-left: 1em; }
    .sidebar .heading h1 {
      position: fixed;
      top: 7em;
      left: 1em;
      padding: 0;
      width: 8em; }
    .sidebar .heading p {
      position: fixed;
      top: 19em;
      left: 2.2em; }

  ul.navbar-nav {
    position: fixed;
    top: 22em;
    left: 2em;
    text-align: left;
    float: left; }

  .main {
    margin-left: 25%;
    width: 100%;
    margin-top: 0; }

  nav li {
    position: relative; }
    nav li .line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      right: 0;
      top: 20px;
      transition: width 0.3s; }

  li:hover .line {
    width: 35%; }

  .line-hover {
    position: relative;
    width: 12em;
    margin: 0 auto; }
    .line-hover .left-line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      left: 0;
      top: 10px;
      transition: width 0.3s; }
    .line-hover:hover .left-line {
      width: 15%; }
    .line-hover:hover .right-line {
      width: 15%; }
    .line-hover .right-line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      right: 0;
      top: 10px;
      transition: width 0.3s; }

  .line-hover-contact {
    position: relative;
    width: 19em;
    margin: 0 auto; }
    .line-hover-contact .left-line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      left: 0;
      top: 10px;
      transition: width 0.3s; }
    .line-hover-contact:hover .left-line {
      width: 12%; }
    .line-hover-contact:hover .right-line {
      width: 12%; }
    .line-hover-contact .right-line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      right: 0;
      top: 10px;
      transition: width 0.3s; }

  .line-hover-skills {
    position: relative;
    width: 15em;
    margin: 0 auto; }
    .line-hover-skills .left-line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      left: 0;
      top: 13px;
      transition: width 0.3s; }
    .line-hover-skills:hover .left-line {
      width: 14%; }
    .line-hover-skills:hover .right-line {
      width: 14%; }
    .line-hover-skills .right-line {
      width: 0;
      border-bottom: 2px solid black;
      position: absolute;
      right: 0;
      top: 13px;
      transition: width 0.3s; }

  .work-hover {
    position: relative; }
    .work-hover:hover .image {
      opacity: 0.3; }
    .work-hover:hover .middle {
      opacity: 1; }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }

  .text {
    background-color: #59b5b5;
    color: white;
    font-size: 16px;
    padding: 16px 13px;
    font-family: 'Cantarell', helvetica, sans-serif;
    border-radius: 50%; }

  .nav-item {
    border-bottom: none; }

  button.btn {
    margin-left: 47%; } }

/*# sourceMappingURL=styles.css.map */
